<p> This application was written using angularJS. I had to teach myself angularJS as I went along.
    <br> Some of the things I needed to learn in order to do this application were: typescript, routing, directives, providers, injectables, and services.
    <br><br> One of the hurdles I had to work through was getting the api to work properly with our access token, and to continuously check and refresh the access token as needed. This was difficult because I had never had to use ajax requests with
    headers as was necessary to get accepted by spotify, and not get a 401 error when trying to connect.
    <br><br>Ethan Wieczorek
</p>